<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Update user</title>
</head>

<body>
    <div class="update-user-container">
        <div><b> Edit user</b></div>
        <form action="/update-user" method="POST">
            <input type="text" hidden name="id" value="<%= dataUser.id %>">
            <div>
                <label for="">First name</label>
                <input type="text" name="firstName" value="<%= dataUser.firstName %>">
            </div>
            <div>
                <label for="">Last name</label>
                <input type="text" name="lastName" value="<%= dataUser.lastName %>">
            </div>
            <div>
                <label for="">Email</label>
                <input type="email" name="email" value="<%= dataUser.email %>">
            </div>
            <div>
                <label for="">Address</label>
                <input type="text" name="address" value="<%= dataUser.address %>">
            </div>
            <div>
                <button type="submit" class="btn-save">Save</button>
            </div>
        </form>
    </div>
</body>

</html>